<section class="column">
    <section class="account-card bg-secondary text-white">
        <div>
            <h4 class="text-secondary" id="accountId">{{account.id}}</h4>
            <h3>{{account.account_type}}</h3>
            <h2 id="balance">{{account.balance}}</h2>
        </div>
        <div>
            <label for="withdrawal">Withdrawal:</label>
            <input id="withdrawal" type="text" />
        </div>
        <div>
            <button class="bg-primary text-white" id="balanceBtn">Withdraw</button>
        </div>
    </section>
    <section class="transaction-card">
            <div class="card">
            <h3>{{transaction.type}}</h3>
            <h5>{{transaction.amount}}</h5>
            <h6>{{transaction.date}}</h6>
        </div>
        <div>
            <h3><a href="/transaction/{{account.id}}">Transactions</a></h3>
        </div>
    </section>
</section>

<script src="/js/transaction.js"></script>
